{% load static %} <!-- added to insert css,bootstrap,js called jinja-->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>QuizMania</title>
	<link rel="stylesheet" href="{% static 'auth.css' %}">  <!-- format to insert the path of css file-->
	<script type="text/javascript">
    		function accessCookie(cookieName)
  		{
    		var name = cookieName + "=";
    		var allCookieArray = document.cookie.split(';');
    		for(var i=0; i<allCookieArray.length; i++)
    		{
      			var temp = allCookieArray[i].trim();
      			if (temp.indexOf(name)==0)
        		return temp.substring(name.length,temp.length);
    			}
    			return "";
  		}
		  //var csrftoken = Cookies.get('csrftoken'); // added for csrf protection trying to learn its use
    		function checkCookie()
  		{
  		var user = accessCookie("User_Id");
  		if (user!="")
    		window.location="/";
  		}
	</script>
</head >

<body onload="checkCookie()">
	<div class="lowin">
		<div class="lowin-brand">
			<img src="{% static 'kodinger.jpg' %}" alt="logo">
		</div>
		<div class="lowin-wrapper">
			<div class="lowin-box lowin-login">
				<div class="lowin-box-inner">
					<form action="/login_check" method="post">
						{% csrf_token %} <!-- added to remove the csrf verification issue -->
						<p>Sign in to continue</p>
						<div class="lowin-group">
							<label>Email <a href="#" class="login-back-link">Sign in?</a></label>
							<input type="email" autocomplete="email" name="email" class="lowin-input" required>
						</div>
						<div class="lowin-group password-group">
							<label>Password <a href="#" class="forgot-link">Forgot Password?</a></label>
							<input type="password" name="password" autocomplete="current-password" class="lowin-input" >
						</div>
						<button class="lowin-btn login-btn">
							Sign In
						</button>

						<div class="text-foot">
							Don't have an account? <a href="" class="register-link">Register</a>
						</div>
					</form>
				</div>
			</div>

			<div class="lowin-box lowin-register">
				<div class="lowin-box-inner">
					<form action="/register" method="post">
						{% csrf_token %}
						<p>Let's create your account</p>
						<div class="lowin-group">
							<label>First Name</label>
							<input type="text" name="firstname" autocomplete="firstname" class="lowin-input">
						</div>
						<div class="lowin-group">
							<label>Last Name</label>
							<input type="text" name="lastname" autocomplete="lastname" class="lowin-input">
						</div>
						<div class="lowin-group">
							<label>Email</label>
							<input type="email" autocomplete="email" name="email" class="lowin-input" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
						</div>
						<div class="lowin-group">
							<label>Phone</label>
							<input type="text" name="phone" class="lowin-input" pattern="[789][0-9]{9}">
						</div>
						<div class="lowin-group">
							<label>Password</label>
							<input type="password" name="password" autocomplete="current-password" class="lowin-input">
						</div>
						<div class="lowin-group">
							<label>Confirm Password</label>
							<input type="password" name="confirmpassword" autocomplete="confirmcurrent-password" class="lowin-input">
						</div>
						<button class="lowin-btn">
							Sign Up
						</button>

						<div class="text-foot">
							Already have an account? <a href="" class="login-link">Login</a>
						</div>
						
					</form>
					
				</div>
			</div>
		</div>
	
		<footer class="lowin-footer">
			
		</footer>
	</div>

	<script src="{% static 'auth.js' %}"></script>
	<script>
		Auth.init({
			login_url: 'login_check', // login_check calls the function in views.py to verify logged in user,cookies and session
			forgot_url: '#forgot'
		});
	</script>
</body>
</html>
