<style>
		.ui.main.container {
			margin-top: 4em;
      

		}
		.ui.card {width: 100%;border-radius: 0;
    }


	.card-list-soal .ui.button { margin-bottom: 10px;  }
	.card-list-soal {
		position: fixed;
		top: 8%;
		height: auto;
		right: 0;
		max-width: 260px;
		background: white;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		overflow-y:hidden;
    color:cornflowerblue !important;
	}
	.card-list-soal .soal {
		padding-top: 10px;
		height: auto;
		max-height: 50vh;
		overflow-y: scroll;
    
	}
	.button-list-soal {
		position: fixed;
		top: 30%;
		right: 0;
		padding: 50px;
		background:cornflowerblue;
		color: white;
		text-align: right;
		cursor: pointer;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		font-size: 0.9em;
    
	}
	.ui.label { border-radius: 0; }
	.ui.form.opsi { margin-top: 20px; }
	.opsi { margin-bottom: 15px;position: relative; }
	.opsi input[type="radio"] {
	    display:none;
	}
	.opsi label.abjad {
		font-size: 0.8em;
	    display: inline-block;
	    border: 1px solid #2185d0;
	    border-radius: 50%;
		height: auto;
	    padding: 3px 8px;
		float: left;
		margin-right: 10px;
    
	}
	.opsi label.abjad:hover { background: #2185d0;cursor: pointer; }
	.opsi label.abjad:hover + .opsi { background: #2185d0;cursor: pointer; }
	.opsi input[type="radio"]:checked + label.abjad {
		background:#2185d0 !important;
		color:#2185d0 !important;
	}
	.opsi label.isi {
		display: block;
		width: 90%;
		margin-left: 35px;
    
    font-size: 15px;
    
	}
      .description{
		padding-left: 30px;
        
	}
    .header{

        
        padding-top:11px !important;
      }
      
      .nav-soal{
        padding-bottom:17px !important
      }
      #header {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 48px;
  z-index: 3;
  transition: all 0.5s ease;
}

#header #logo {
  padding: 6px 0 0 0;
}

#header #logo h1 {
  color: #505050;
  font-family: "Philosopher", sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}

#header #logo h1 a {
  color: #555;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
}

#header #logo h1 a span {
  color: #71c55d;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

.scroll-header {
  background: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

				
</style>